<template name="layout">
	<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
		<div class="container">
			<div class="pull-right">
				{{#if currentUser}}
					<div class="user-info">
						<img class="avatar" src="{{currentUser.avatar}}">
						<span>{{currentUser.name}}</span>
					</div>
				{{/if}}

				{{> loginButtons}}
			</div>

			<div class="navbar-header">
				<a class="navbar-brand" href="{{pathFor 'roomsList'}}">Songroll Sky</a>
			</div>
		</div>
	</nav>
	<div style="padding-top: 60px;" class="container">
		{{> yield}}
	</div>
</template>

