<template name="layout">
	{{#if currentUser}}
		<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
			<div class="container">
				<div class="pull-right">
					{{#if currentUser}}
						<div class="user-info">
							<img class="avatar" src="{{currentUser.avatar}}">
							<span>{{currentUser.name}}</span>
						</div>
					{{/if}}

					{{> loginButtons}}
				</div>

				<div class="navbar-header">
					<a class="navbar-brand" href="{{pathFor 'roomsList'}}"><img src="/logo.png"></a>
				</div>
			</div>
		</nav>
	{{/if}}
	{{> yield}}
</template>
