<template name="roomsListTitle">
  <span class="crumb">Songroll</span>
  <span>Todas las salas</span>
</template>

<template name="roomsListButtons">
  <button id="createRoom" data-toggle="modal" data-target="#roomCreator" class="btn-sky">
    <span class="glyphicon glyphicon-plus"></span>
    <span>Crear una sala</span>
  </button>
</template>

<template name="roomsList">

  {{> roomCreator}}

  <div class="rooms-list">
  {{#each rooms}}
  	<a href="{{pathFor 'roomPage'}}" class="room-item">
      <div class="room-info">
        <div class="title">
          <div class="user-count">
            <span class="glyphicon glyphicon-user"></span>
            <span class="count">{{userCount}}</span>
          </div>
          <span>{{title}}</span>
        </div>
        <div class="description">{{description}}</div>
      </div>

      {{#if now_playing}}
        <div class="now-playing">
          <div class="album-art" style="background-image:url({{now_playing.image_url}})"></div>
          <div class="info">
            <div class="artist">{{now_playing.artist_name}}</div>
            <div class="title">{{now_playing.title}}</div>
          </div>
        </div>
      {{/if}}
  	</a>
  {{/each}}
  </div>

</template>
