<template name="roomItem">
  <a href="{{pathFor 'roomPage'}}" class="room-item">
    {{#if room_image}}
      <div class="room-image" style="background-image:url({{room_image}})"></div>
    {{/if}}
    <div class="room-info">
      <div class="title">
        <span>{{title}}</span>
      </div>
      <!-- <div class="description">{{description}}</div> -->
    </div>

    {{#if now_playing}}
      <div class="now-playing">
        <div class="info">
          <div class="artist">{{now_playing.artist_name}}</div>
          <div class="title">{{now_playing.title}}</div>
        </div>
        <div class="album-art" style="background-image:url({{now_playing.image_url}})"></div>
      </div>
    {{/if}}

    <div class="user-count">
      <span class="glyphicon glyphicon-user"></span>
      <span class="count">{{userCount}}</span>
    </div>
  </a>
</template>