<template name="roomCreator">
	<div class="modal fade" id="roomCreator" tabindex="-1" role="dialog" aria-labelledby="roomCreatorLabel" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<a class="close-this" data-dismiss="modal">&times;</a>
					<h4 class="modal-title" id="roomCreatorLabel">Crear una nueva sala</h4>
				</div>
				<form>
					<div class="modal-body">
						<div class="form-section">
							<div class="form-section-title">
								<label for="roomName">Título de la sala</label>
							</div>
							<div class="form-section-input">
								<input type="text" name="roomName" placeholder="Escribe un nombre para tu sala.">
							</div>
						</div>
						<div class="form-section">
							<div class="form-section-title">
								<label for="roomName">Descripción</label>
							</div>
							<div class="form-section-input">
								<textarea name="roomDescription" rows="3" placeholder="Escribe una pequeña descripción acerca del tema de esta sala."></textarea>
							</div>
						</div>
						<div class="form-section small-section">
							<div class="form-section-title">
								<label for="roomName">Recomendaciones</label>
							</div>
							<div class="form-section-input option-holder">
								<div class="option-holder-input">
									<input type="checkbox" name="roomRecommendations" id="room-recommendations" checked>
									<label for="room-recommendations"><span class="glyphicon glyphicon-ok"></span> Sugerir videos y canciones similares</label>
								</div>
							</div>
						</div>
						<div class="form-section small-section">
							<div class="form-section-title">
								<label for="roomName">Privacidad</label>
							</div>
							<div class="form-section-input option-holder">
								<div class="option-holder-input">
									<input type="radio" name="roomPrivacy" value="public" id="room-privacy-public" checked>
									<label for="room-privacy-public"><div class="radio-ok"></div> <span class="glyphicon glyphicon-globe"></span> Público</label>
								</div>
								<div class="option-holder-input">
									<input type="radio" name="roomPrivacy" value="private" id="room-privacy-private">
									<label for="room-privacy-private"><div class="radio-ok"></div> <span class="glyphicon glyphicon-lock"></span> Privado <em>(sólo quienes tengan el enlace)</em></label>
								</div>
							</div>
						</div>

						<!-- 
							<input type="text" name="room-name" placeholder="Nombre de la sala">
							<textarea name="room-description" placeholder="Escribe una pequeña descripción acerca del tema de esta sala."></textarea>
						-->
						
					</div>
					<div class="modal-footer">
						<button type="submit" class="btn-sky">Crear sala</button>
					</div>
				</form>
			</div>
		</div>
	</div>
</template>