@font-face {
	font-family: 'Pe-icon-7-stroke';
	src:url('/fonts/Pe-icon-7-stroke.eot?-2irksn');
	src:url('/fonts/Pe-icon-7-stroke.eot?#iefix-2irksn') format('embedded-opentype'),
		url('/fonts/Pe-icon-7-stroke.woff?-2irksn') format('woff'),
		url('/fonts/Pe-icon-7-stroke.ttf?-2irksn') format('truetype'),
		url('/fonts/Pe-icon-7-stroke.svg?-2irksn#Pe-icon-7-stroke') format('svg');
	font-weight: normal;
	font-style: normal;
}

.ioscon {
	display: inline-block;
	font-family: 'Pe-icon-7-stroke';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.ioscon-cloud-upload:before {
	content: "\e68a";
}
.ioscon-cash:before {
	content: "\e68c";
}
.ioscon-close:before {
	content: "\e680";
}
.ioscon-bluetooth:before {
	content: "\e68d";
}
.ioscon-cloud-download:before {
	content: "\e68b";
}
.ioscon-way:before {
	content: "\e68e";
}
.ioscon-close-circle:before {
	content: "\e681";
}
.ioscon-id:before {
	content: "\e68f";
}
.ioscon-angle-up:before {
	content: "\e682";
}
.ioscon-wristwatch:before {
	content: "\e690";
}
.ioscon-angle-up-circle:before {
	content: "\e683";
}
.ioscon-world:before {
	content: "\e691";
}
.ioscon-angle-right:before {
	content: "\e684";
}
.ioscon-volume:before {
	content: "\e692";
}
.ioscon-angle-right-circle:before {
	content: "\e685";
}
.ioscon-users:before {
	content: "\e693";
}
.ioscon-angle-left:before {
	content: "\e686";
}
.ioscon-user-female:before {
	content: "\e694";
}
.ioscon-angle-left-circle:before {
	content: "\e687";
}
.ioscon-up-arrow:before {
	content: "\e695";
}
.ioscon-angle-down:before {
	content: "\e688";
}
.ioscon-switch:before {
	content: "\e696";
}
.ioscon-angle-down-circle:before {
	content: "\e689";
}
.ioscon-scissors:before {
	content: "\e697";
}
.ioscon-wallet:before {
	content: "\e600";
}
.ioscon-safe:before {
	content: "\e698";
}
.ioscon-volume2:before {
	content: "\e601";
}
.ioscon-volume1:before {
	content: "\e602";
}
.ioscon-voicemail:before {
	content: "\e603";
}
.ioscon-video:before {
	content: "\e604";
}
.ioscon-user:before {
	content: "\e605";
}
.ioscon-upload:before {
	content: "\e606";
}
.ioscon-unlock:before {
	content: "\e607";
}
.ioscon-umbrella:before {
	content: "\e608";
}
.ioscon-trash:before {
	content: "\e609";
}
.ioscon-tools:before {
	content: "\e60a";
}
.ioscon-timer:before {
	content: "\e60b";
}
.ioscon-ticket:before {
	content: "\e60c";
}
.ioscon-target:before {
	content: "\e60d";
}
.ioscon-sun:before {
	content: "\e60e";
}
.ioscon-study:before {
	content: "\e60f";
}
.ioscon-stopwatch:before {
	content: "\e610";
}
.ioscon-star:before {
	content: "\e611";
}
.ioscon-speaker:before {
	content: "\e612";
}
.ioscon-signal:before {
	content: "\e613";
}
.ioscon-shuffle:before {
	content: "\e614";
}
.ioscon-shopbag:before {
	content: "\e615";
}
.ioscon-share:before {
	content: "\e616";
}
.ioscon-server:before {
	content: "\e617";
}
.ioscon-search:before {
	content: "\e618";
}
.ioscon-film:before {
	content: "\e6a5";
}
.ioscon-science:before {
	content: "\e619";
}
.ioscon-disk:before {
	content: "\e6a6";
}
.ioscon-ribbon:before {
	content: "\e61a";
}
.ioscon-repeat:before {
	content: "\e61b";
}
.ioscon-refresh:before {
	content: "\e61c";
}
.ioscon-add-user:before {
	content: "\e6a9";
}
.ioscon-refresh-cloud:before {
	content: "\e61d";
}
.ioscon-paperclip:before {
	content: "\e69c";
}
.ioscon-radio:before {
	content: "\e61e";
}
.ioscon-note2:before {
	content: "\e69d";
}
.ioscon-print:before {
	content: "\e61f";
}
.ioscon-network:before {
	content: "\e69e";
}
.ioscon-prev:before {
	content: "\e620";
}
.ioscon-mute:before {
	content: "\e69f";
}
.ioscon-power:before {
	content: "\e621";
}
.ioscon-medal:before {
	content: "\e6a0";
}
.ioscon-portfolio:before {
	content: "\e622";
}
.ioscon-like2:before {
	content: "\e6a1";
}
.ioscon-plus:before {
	content: "\e623";
}
.ioscon-left-arrow:before {
	content: "\e6a2";
}
.ioscon-play:before {
	content: "\e624";
}
.ioscon-key:before {
	content: "\e6a3";
}
.ioscon-plane:before {
	content: "\e625";
}
.ioscon-joy:before {
	content: "\e6a4";
}
.ioscon-photo-gallery:before {
	content: "\e626";
}
.ioscon-pin:before {
	content: "\e69b";
}
.ioscon-phone:before {
	content: "\e627";
}
.ioscon-plug:before {
	content: "\e69a";
}
.ioscon-pen:before {
	content: "\e628";
}
.ioscon-right-arrow:before {
	content: "\e699";
}
.ioscon-paper-plane:before {
	content: "\e629";
}
.ioscon-delete-user:before {
	content: "\e6a7";
}
.ioscon-paint:before {
	content: "\e62a";
}
.ioscon-bottom-arrow:before {
	content: "\e6a8";
}
.ioscon-notebook:before {
	content: "\e62b";
}
.ioscon-note:before {
	content: "\e62c";
}
.ioscon-next:before {
	content: "\e62d";
}
.ioscon-news-paper:before {
	content: "\e62e";
}
.ioscon-musiclist:before {
	content: "\e62f";
}
.ioscon-music:before {
	content: "\e630";
}
.ioscon-mouse:before {
	content: "\e631";
}
.ioscon-more:before {
	content: "\e632";
}
.ioscon-moon:before {
	content: "\e633";
}
.ioscon-monitor:before {
	content: "\e634";
}
.ioscon-micro:before {
	content: "\e635";
}
.ioscon-menu:before {
	content: "\e636";
}
.ioscon-map:before {
	content: "\e637";
}
.ioscon-map-marker:before {
	content: "\e638";
}
.ioscon-mail:before {
	content: "\e639";
}
.ioscon-mail-open:before {
	content: "\e63a";
}
.ioscon-mail-open-file:before {
	content: "\e63b";
}
.ioscon-magnet:before {
	content: "\e63c";
}
.ioscon-loop:before {
	content: "\e63d";
}
.ioscon-look:before {
	content: "\e63e";
}
.ioscon-lock:before {
	content: "\e63f";
}
.ioscon-lintern:before {
	content: "\e640";
}
.ioscon-link:before {
	content: "\e641";
}
.ioscon-like:before {
	content: "\e642";
}
.ioscon-light:before {
	content: "\e643";
}
.ioscon-less:before {
	content: "\e644";
}
.ioscon-keypad:before {
	content: "\e645";
}
.ioscon-junk:before {
	content: "\e646";
}
.ioscon-info:before {
	content: "\e647";
}
.ioscon-home:before {
	content: "\e648";
}
.ioscon-help2:before {
	content: "\e649";
}
.ioscon-help1:before {
	content: "\e64a";
}
.ioscon-graph3:before {
	content: "\e64b";
}
.ioscon-graph2:before {
	content: "\e64c";
}
.ioscon-graph1:before {
	content: "\e64d";
}
.ioscon-graph:before {
	content: "\e64e";
}
.ioscon-global:before {
	content: "\e64f";
}
.ioscon-gleam:before {
	content: "\e650";
}
.ioscon-glasses:before {
	content: "\e651";
}
.ioscon-gift:before {
	content: "\e652";
}
.ioscon-folder:before {
	content: "\e653";
}
.ioscon-flag:before {
	content: "\e654";
}
.ioscon-filter:before {
	content: "\e655";
}
.ioscon-file:before {
	content: "\e656";
}
.ioscon-expand1:before {
	content: "\e657";
}
.ioscon-exapnd2:before {
	content: "\e658";
}
.ioscon-edit:before {
	content: "\e659";
}
.ioscon-drop:before {
	content: "\e65a";
}
.ioscon-drawer:before {
	content: "\e65b";
}
.ioscon-download:before {
	content: "\e65c";
}
.ioscon-display2:before {
	content: "\e65d";
}
.ioscon-display1:before {
	content: "\e65e";
}
.ioscon-diskette:before {
	content: "\e65f";
}
.ioscon-date:before {
	content: "\e660";
}
.ioscon-cup:before {
	content: "\e661";
}
.ioscon-culture:before {
	content: "\e662";
}
.ioscon-crop:before {
	content: "\e663";
}
.ioscon-credit:before {
	content: "\e664";
}
.ioscon-copy-file:before {
	content: "\e665";
}
.ioscon-config:before {
	content: "\e666";
}
.ioscon-compass:before {
	content: "\e667";
}
.ioscon-comment:before {
	content: "\e668";
}
.ioscon-coffee:before {
	content: "\e669";
}
.ioscon-cloud:before {
	content: "\e66a";
}
.ioscon-clock:before {
	content: "\e66b";
}
.ioscon-check:before {
	content: "\e66c";
}
.ioscon-chat:before {
	content: "\e66d";
}
.ioscon-cart:before {
	content: "\e66e";
}
.ioscon-camera:before {
	content: "\e66f";
}
.ioscon-call:before {
	content: "\e670";
}
.ioscon-calculator:before {
	content: "\e671";
}
.ioscon-browser:before {
	content: "\e672";
}
.ioscon-box2:before {
	content: "\e673";
}
.ioscon-box1:before {
	content: "\e674";
}
.ioscon-bookmarks:before {
	content: "\e675";
}
.ioscon-bicycle:before {
	content: "\e676";
}
.ioscon-bell:before {
	content: "\e677";
}
.ioscon-battery:before {
	content: "\e678";
}
.ioscon-ball:before {
	content: "\e679";
}
.ioscon-back:before {
	content: "\e67a";
}
.ioscon-attention:before {
	content: "\e67b";
}
.ioscon-anchor:before {
	content: "\e67c";
}
.ioscon-albums:before {
	content: "\e67d";
}
.ioscon-alarm:before {
	content: "\e67e";
}
.ioscon-airplay:before {
	content: "\e67f";
}
