<template name="userFavoritesTitle">
	<a href="/" class="crumb">You</a>
	<span>Favoritos</span>
</template>

<template name="userFavorites">
	<div class="favorites-container">
		<div class="favorites-title masonry-adjust">
			<div class="pull-right fav-count">
				<span class="count">{{favoriteSongs.length}}</span>
				<span class="glyphicon glyphicon-heart"></span>
			</div>
			<ul class="tab-switcher" role="tablist">
				<li class="active"><a href="#favorites-music" role="tab" data-toggle="tab">Music</a></li>
				<li><a href="#favorites-video" role="tab" data-toggle="tab">Videos</a></li>
			</ul>
		</div>
		<div class="tab-content">
			<div class="tab-pane active favorite-items-container masonry" id="favorites-music">
				{{#each favoriteSongs}}
					{{> favoriteItem}}
				{{/each}}
			</div>
			<div class="tab-pane favorite-items-container masonry" id="favorites-video">
				{{#each favoriteVideos}}
					{{> favoriteItem}}
				{{/each}}
			</div>
		</div>
	</div>
</template>