<template name="userFavoritesTitle">
	<a href="/" class="crumb">{{currentUser.name}}</a>
	<span>Favoritos</span>
</template>

<template name="userFavorites">
	<div class="favorites-container">
	{{#each favorites}}
		<div class="favorites-item {{#unless spotify_id}}type-video{{/unless}}">
			<div class="actions-container">
				<div class="actions">
					{{#if spotify_id}}
						<a data-toggle="tooltip" data-placement="top" title="Escuchar en Spotify" target="_blank" class="listen-spotify" href="http://open.spotify.com/track/{{spotify_id}}">
							<i class="fa fa-spotify"></i>
						</a>
					{{/if}}
					<a  data-toggle="tooltip" data-placement="top" title="Ver en YouTube" target="_blank" class="watch-youtube" href="http://www.youtube.com/watch?v={{youtube_id}}">
						<i class="fa fa-youtube-play"></i>
					</a>
				</div>
				<div class="time">
					<span>{{createdAt}}</span>
					<span class="glyphicon glyphicon-time"></span>
				</div>
			</div>
			<div class="info">
				{{#if artist_name}}
					<div class="artist">{{artist_name}}</div>
				{{/if}}
				<div class="title">{{title}}</div>
				{{#if subtitle}}
					<div class="subtitle">{{subtitle}}</div>
				{{/if}}
			</div>
			<div class="album-art" style="background-image:url({{image_url}});"></div>
		</div>
	{{/each}}
	</div>
</template>